*
{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
span{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(pic1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;

} 